<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- INICIO DE CODIGO DE LA GRAFICA -->
                    <app-graficadona
                        [labels] = "graficos.grafico1.labels"
                        [data] = "graficos.grafico1.data"
                        [chtype] = "graficos.grafico1.type">
                    </app-graficadona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- INICIO DE CODIGO DE LA GRAFICA -->
                    <app-graficadona
                        [labels] = "graficos.grafico2.labels"
                        [data] = "graficos.grafico2.data"
                        [chtype] = "graficos.grafico2.type">
                    </app-graficadona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- INICIO DE CODIGO DE LA GRAFICA -->
                    <app-graficadona
                        [labels] = "graficos.grafico3.labels"
                        [data] = "graficos.grafico3.data"
                        [chtype] = "graficos.grafico3.type">
                    </app-graficadona>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- INICIO DE CODIGO DE LA GRAFICA -->
                    <app-graficadona
                        [labels] = "graficos.grafico4.labels"
                        [data] = "graficos.grafico4.data"
                        [chtype] = "graficos.grafico4.type">
                    </app-graficadona>
            </div>
        </div>
    </div>
</div>
